body, html {
  height: 100%;
}

/* * {
  box-sizing: border-box;
} */

.bg-img {
  /* The image used */
  background-image: url("road.jpg");

  /* Control the height of the image */
  min-height: 800px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.heading
{
  font-family: 'Dancing Script';
  font-size: 2rem;
}
/* Add styles to the form container */
.container {
  position: absolute;
  right: 37%;
  margin: 20px;
  max-width: 500px;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
  input[type=text], input[type=datetime-local],input[type=radio] {

  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=datetime-local],input[type=radio] :focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;

  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
